extends layout

block msgbar
  p.msgbar-msg Testtext.

block content
  div.todo
    h1.todo-title Express todo list
    form( action='javascript:void(0)' )
      input.todo-search( type='text', placeholder='What needs to be done, today?', name='task' )
    header.todo-header
      h2.todo-list-title Open Tasks
      div.todo-toolbar
        p.todo-toolbar-queue-text
        a.todo-toolbar-complete Complete Task
        a.todo-toolbar-delete Delete Task
    ul.todo-list.first
      - each doc, i in done
        li= doc.task
          input.todo-list-checkbox( type='checkbox', name='checkbox-#{i}', data='#{doc._id}' )
    h2.todo-list-title Completed Tasks
    ul.todo-list.second
      - each doc, i in undone
        li= doc.task
          input.todo-list-checkbox( type='checkbox', name='checkbox-#{i}', data='#{doc._id}' )