.clearfix {
  display: inline-block;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  font: 400 12px/1.6 'Open Sans', sans-serif;
}
.msgbar {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  display: none;
}
.success {
  color: #4f8a10;
  background-color: #dff2bf;
}
.error {
  color: #d8000c;
  background-color: #ffbaba;
}
.info {
  color: #00529b;
  background-color: #bde5f8;
}
.wrapper {
  width: 800px;
  margin: 60px auto;
}
.todo-search {
  padding: 10px 20px;
  font-size: 24px;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  border: none;
  box-shadow: 0 0 10px 1px #f1f1f1;
  border: 1px solid #ccc;
}
.todo-title {
  margin-bottom: 10px;
  border-top: 1px solid #fafafa;
  border-bottom: 1px solid #fafafa;
}
.todo-list {
  padding-left: 10px;
  margin: 10px 0 30px 0;
}
.todo-list li {
  list-style-type: none;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}
.todo-list li:first-child {
  border-top: 1px solid #ccc;
}
.todo-list li:hover {
  background-color: #fcfcfc;
}
.todo-list-checkbox {
  float: right;
  margin-top: 5px;
}
.todo-list-title {
  padding: 5px 20px;
  background-color: #222;
  color: #ccc;
  display: inline-block;
}
.todo-header {
  position: relative;
}
.todo-toolbar {
  position: absolute;
  right: 0;
  bottom: 8px;
  text-align: right;
}
.todo-toolbar-queue-text {
  display: inline-block;
}
.todo-toolbar-delete,
.todo-toolbar-complete {
  cursor: pointer;
  background-color: #f1f1f1;
  color: #222;
  padding: 5px;
  margin-top: -5px;
  text-decoration: none;
  margin-left: 10px;
}
.todo-toolbar-delete:hover,
.todo-toolbar-complete:hover {
  text-decoration: underline;
}
